
h1{

color: blue;

background-color: yellow;
}

h2{
color: red;

background-color: rgb(14, 48, 239);

}

h3{

color: rgb(224, 18, 18);

background-color: rgb(20, 158, 238);

}

p{

  color: rgb(10, 251, 54);

  background-color: rgb(8, 12, 241);
}